<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Job application</title>
  </head>
  <body style="margin: 0">
    <div
      style="
        font-family: Arial, sans-serif;
        font-size: 12px;
        margin: 0 auto;
        padding: 72px 36px 72px 72px;
        width: 595px;
        box-sizing: border-box;
      "
    >
      <div style="text-align: end">
        <h3>CIT Solutions</h3>
        <p style="font-weight: bold">Коневу Михаилу Николаевичу</p>
        <p>{{candidateName}}</p>
      </div>
      <div style="margin-top: 144px">
        <h2 style="text-align: center">Заявление</h2>
        <p>
          Прошу Вас принять меня на постоянную работу на должность
          "{{careerObjective}}" с 1 сентября 2021 года с испытательным сроком на
          3 месяца.
        </p>
      </div>
      <div style="margin-top: 72px; text-align: end">
        <div
          style="
            display: inline-block;
            width: 144px;
            border-bottom: 1px solid black;
          "
        ></div>
        <p>{{today}} {{signatureDescription}}</p>
      </div>
    </div>
  </body>
</html>
